---
import i18next, { t, changeLanguage } from "i18next";
import { getMusicians } from "@utils/apiCalls/musicians";
import ContentLayout from "@layouts/ContentLayout.astro";
import Title from "@components/Title.astro";
import MusicianCard from "@components/MusicianCard.astro";
import { getAlt, getImage } from "@utils/mediaProcessors";

changeLanguage("es");

const musicians = await getMusicians(i18next.language);
---

<ContentLayout title={t("ourBand:members.title")}>
	<Title>{t("ourBand:members.musicians")}</Title>
	<div class="mt-16 flex flex-wrap justify-center gap-4">
		{
			musicians.length > 0 &&
				musicians.map((musician) => (
					<MusicianCard
						name={musician.name}
						text={musician.instrument ?? ""}
						image={getImage("s", musician.image)}
						alt={getAlt(musician.image)}
					/>
				))
		}
	</div>
</ContentLayout>
