---
import { localizePath } from "astro-i18next";
import i18next, { t, changeLanguage } from "i18next";
import ContentLayout from "@layouts/ContentLayout.astro";
import { getMediaEntries } from "@utils/apiCalls/mediaEntries";
import Title from "@components/Title.astro";
import MediaCard from "@components/MediaCard.astro";
import { getMediaEntryAlt, getMediaEntryThumbnail } from "@utils/mediaEntryProcessors";

changeLanguage("eu");

const entries = await getMediaEntries(i18next.language);
---

<ContentLayout title={t("media:content.title")}>
	<Title extraClass={"mb-16"}>{t("media:content.title")}</Title>
	<div class="flex flex-wrap justify-center gap-4">
		{
			entries.map((entry) => (
				<MediaCard
					title={entry.title}
					description={entry.description ?? undefined}
					image={getMediaEntryThumbnail("s", entry)}
					alt={getMediaEntryAlt(entry)}
					link={`${localizePath("/mediateka/edukia")}/${entry.id}/${entry.slug}`}
				/>
			))
		}
	</div>
</ContentLayout>
