---
import * as m from "@paraglide/messages";
interface Props {
	extraClass?: string | { [key: string]: any };
	href: string;
}

const { extraClass, href } = Astro.props;
---

<div class="relative mt-4 flex items-center py-5">
	<div class="flex-grow border-t border-gray-900"></div>
	<a
		class:list={["mx-4 flex-shrink text-sm hover:underline md:text-base lg:text-lg", extraClass]}
		href={href}
	>
		<slot>{m.ui_hrlink_more()}</slot>
	</a>
	<div class="flex-grow border-t border-gray-900"></div>
</div>
