---
interface Props {
	extraClass?: string | { [key: string]: any };
}

const { extraClass } = Astro.props;
---

<h1
	class:list={[
		"pt-3 text-center text-4xl font-extrabold uppercase text-gray-900 md:pt-6 lg:pt-10 lg:text-5xl",
		extraClass,
	]}
>
	<slot />
</h1>
