---
import ContentLayout from "@layouts/ContentLayout.astro";
import * as m from "@paraglide/messages";
import { availableLanguageTags, languageTag } from "@paraglide/runtime";
import { getBandHistory } from "@utils/apiCalls/history";
import { localizePathname } from "@utils/linking";

const bandHistory = await getBandHistory(languageTag());

let translatedUrls: { [locale: string]: string } = {};
for (const locale of availableLanguageTags) {
	if (locale == languageTag()) continue;
	translatedUrls[locale] = localizePathname("/gure-banda/historia", locale);
}
---

<ContentLayout title={m.ourBand_history_title()} {translatedUrls}>
	{
		bandHistory && bandHistory.content_html ? (
			<span
				class="format format-base mx-auto mt-16 lg:format-lg format-h1:text-center format-h1:uppercase format-li:ml-8 format-li:text-gray-900"
				set:html={bandHistory.content_html}
			/>
		) : (
			<h2 class="text-center text-4xl font-bold">
				{m.ourBand_history_notAvailable("ourBand:history.notAvailable")}
			</h2>
		)
	}
</ContentLayout>
