---
import BaseLayout from "./BaseLayout.astro";

interface Props {
	title: string;
	translatedUrls: { [key: string]: string };
}

const { title, translatedUrls } = Astro.props;
---

<BaseLayout title={title} translatedUrls={translatedUrls}>
	<main class="container mx-auto min-h-screen">
		<slot name="no-padding" />
		<div class="p-5">
			<slot />
		</div>
	</main>
</BaseLayout>
